/* @font-face {
    font-family: 'Satoshi';
    src: url('./assets/OFT/Satoshi-Black.otf') format('otf'),
         url('./assets/fonts/Satoshi-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('./assets/fonts/Satoshi-Bold.otf') format('otf'),
         url('./assets/fonts/Satoshi-Bold.otf') format('woff');
    font-weight: bold;
    font-style: normal;
  } */
  